/* Media query for 1800 */

.formSize {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.input {
  width: 19rem;
  height: 2rem;
  border-radius: 12%;
}

.inputBtn {
  width: 5rem;
  height: 2.5rem;
  color: wheat;
  background-color: blue;
  border-radius: 20%;
  margin-left: 6.5%;
}

/* Media Query for Mobile phone Devices */
@media (max-width: 30rem) {
  .input {
    width: 9rem;
    height: 1rem;
  }

  .inputBtn {
    margin-left: 6.5%;
    width: 4.25rem;
    height: 1.563rem;
    margin-top: -1%;
    padding: 0.125rem;
  }
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 30.063rem) and (max-width: 47.938rem) {
  .input {
    width: 17rem;
    height: 1.5rem;
    margin-top: 16%;
  }

  .inputBtn {
    font-size: 18px;
    height: 2.5rem;
    margin-left: 6.5%;
    width: 5.625;
    height: 30px;
    margin-top: 16%;
    padding: 0.125rem;
  }
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 748rem) and (max-width: 64rem) {
  .input {
    width: 15rem;
    height: 2rem;
  }

  .inputBtn {
    width: 4.5rem;
    height: 1.75rem;
  }
}

/* Media Query for Laptops and Desktops */
@media (min-width: 64.063rem) and (max-width: 80rem) {
  .input {
    width: 16.5rem;
    height: 2rem;
  }

  .inputBtn {
    width: 4.5rem;
    height: 2rem;
  }
}

/* Media Query for Large screens */
@media (min-width: 80.063rem) {
  .input {
    width: 19rem;
    height: 2rem;
  }

  .inputBtn {
    width: 5rem;
    height: 2.5rem;
  }
}
