.homeStyles {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding-top: 3%;
  background-color: #ccaaaa;
  background-image: url(../../public/images/work.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.logo {
  position: absolute;
  left: 5%;
  top: 1%;
  font-size: 2.5rem;
  color: brown;
  text-shadow: 0.5rem 0.5rem 0.5rem black;
  border: lightgray;
  font-family: Arial, Helvetica, sans-serif;
}

.hTag {
  font-size: 5.5rem;
  color: brown;
  margin-bottom: 5%;
  text-shadow: 0.5rem 0.5rem 0.5rem black;
  font-family: Arial, Helvetica, sans-serif;
}

/* Media Query for Mobile phone Devices */
.homeStyles {
  background-position: center center;
  border-radius: 12%;
}

@media (max-width: 30rem) {
  .logo {
    font-size: 1rem;
  }

  .hTag {
    font-size: 1.3rem;
  }
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 30.063rem) and (max-width: 47.938rem) {
  .homeStyles {
    background-position: center center;
  }

  .logo {
    position: absolute;
    left: 5%;
    top: -2.5%;
    font-size: 1.5rem;
  }

  .hTag {
    font-size: 2.2rem;
  }
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 48rem) and (max-width: 64rem) {
  .homeStyles {
    background-position: center center;
  }

  .logo {
    position: absolute;
    left: 5%;
    top: -4%;
    font-size: 2rem;
  }

  .hTag {
    font-size: 2.8rem;
  }
}

/* Media Query for Laptops and Desktops */
@media (min-width: 64.063rem) and (max-width: 80rem) {
  .homeStyles {
    background-position: center center;
  }

  .logo {
    position: absolute;
    left: 5%;
    top: -7%;
    font-size: 2.5rem;
  }

  .hTag {
    font-size: 3rem;
  }
}

/* Media Query for Large screens */
@media (min-width: 80.063rem) {
  .homeStyles {
    background-position: center center;
  }

  .logo {
    position: absolute;
    left: 5%;
    top: -6%;
    font-size: 3rem;
  }

  .hTag {
    font-size: 4rem;
  }
}
