.appStyles {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 3%;
  /* For backgrond image */
  background-image: url(../public/images/vill.jpeg);
  background-repeat: no-repeat;
  background-size: cover;

}

.todoList {
  font-size: 8rem;
  color: brown;
  font-family: Arial, Helvetica, sans-serif;
}

.logo {
  position: absolute;
  left: 3%;
  top: 0%;
  font-size: 3rem;
  color: brown;
  text-shadow: 1px 1px 1px black;
  font-family: Arial, Helvetica, sans-serif;
}

/* For Media Query */


 /* Media Query for Mobile Devices */
 @media (max-width: 480px) {
    .appStyles {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding-top: 3%;
        background-color: #ccaaaa;
        border-radius: 12%;
      }
      
      .todoList {
        font-size: 24px;
        color: brown;
        font-family: Arial, Helvetica, sans-serif;
      }

      .logo {
        position: absolute;
        left: 11%;
        top: 1%;
        font-size: 1rem;
        color: brown;
        text-shadow: 1px 1px 1px black;
        font-family: Arial, Helvetica, sans-serif;
      }

      
}
 
/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
    .appStyles {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding-top: 3%;
        background-color: #ccaaaa;
      }
      
      .todoList {
        font-size:4rem;
        color: brown;
        font-family: Arial, Helvetica, sans-serif;
      }


      .logo {
        position: absolute;
        left: 11%;
        top: 1%;
        font-size: 1rem;
        color: brown;
        text-shadow: 1px 1px 1px black;
        font-family: Arial, Helvetica, sans-serif;
      }

}
 
/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px){
    .appStyles {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding-top: 3%;
        background-color: #ccaaaa;
      }
      
      .todoList {
        font-size: 5rem;
        color: brown;
        font-family: Arial, Helvetica, sans-serif;
      }

      .logo {
        position: absolute;
        left: 6%;
        top: 1%;
        font-size: 1.5rem;
        color: brown;
        text-shadow: 1px 1px 1px black;
        font-family: Arial, Helvetica, sans-serif;
      }
}
 
/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px){
    .appStyles {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding-top: 3%;
        background-color: #ccaaaa;
      }
      
      .todoList {
        font-size: 6.5rem;
        color: brown;
        font-family: Arial, Helvetica, sans-serif;
      }

      .logo {
        position: absolute;
        left: 4%;
        top: 1%;
        font-size: 2rem;
        color: brown;
        text-shadow: 1px 1px 1px black;
        font-family: Arial, Helvetica, sans-serif;
      }
}
 
/* Media Query for Large screens */
@media (min-width: 1281px) {
    .appStyles {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding-top: 3%;
        background-color: #ccaaaa;
      }
      
      .todoList {
        font-size: 7rem;
        color: brown;
        font-family: Arial, Helvetica, sans-serif;
      }

      .logo {
        position: absolute;
        left: 5%;
        top: 1%;
        font-size: 2.5rem;
        color: brown;
        text-shadow: 8px 8px 8px black;
        border: lightgray;
        font-family: Arial, Helvetica, sans-serif;
      }
}