 .formSize {
    display: flex;
    flex-direction: row;
    justify-content: center;
 }

.input {
    width: 20rem;
    height: 2rem;
    border-radius: 10%;
}

.inputBtn {
    width: 6rem;
    height: 2.5rem;
    color: wheat;
    background-color: blue;
    border-radius: 20%;
    margin-left: 6.5%;
} 


/* Media Query for Mobile Devices */
@media (max-width: 480px) {
    .formSize {
        display: flex;
        flex-direction: row;
        justify-content: center;
     }
    
    .input {
        width: 9rem;
        height: 1rem 
    }
    
    .inputBtn {
        font-size: 16px;
        color: wheat;
        background-color: blue;
        border-radius: 20%;
        margin-left: 6.5%;
        width: 68px;
        height: 25px;
        margin-top: -1%;
        padding: 2px;
    } 
    
}
 
/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
    .formSize {
        display: flex;
        flex-direction: row;
        justify-content: center;
     }
    
    .input {
        width: 18rem;
        height: 1.5rem;
        margin-top: 16%;
    }
    
    .inputBtn {
    font-size: 18px;
    height: 2.5rem;
    color: wheat;
    background-color: blue;
    border-radius: 20%;
    margin-left: 6.5%;
    width: 90px;
    height: 30px;
    margin-top: 16%;
    padding: 2px;
    } 
    
}
 
/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px){
    .formSize {
        display: flex;
        flex-direction: row;
        justify-content: center;
     }
    
    .input {
        width: 18rem;
        height: 2rem;
    }
    
    .inputBtn {
        width: 4.5rem;
        height: 2.5rem;
        color: wheat;
        background-color: blue;
        border-radius: 20%;
        margin-left: 6.5%;
    } 
    
        
   
}
 
/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px){
    .formSize {
        display: flex;
        flex-direction: row;
        justify-content: center;
     }
    
    .input {
        width: 18rem;
        height: 2rem;
    }
    
    .inputBtn {
        width: 4.5rem;
        height: 2rem;
        color: wheat;
        background-color: blue;
        border-radius: 20%;
        margin-left: 6.5%;
    } 
    
}
 
/* Media Query for Large screens */
@media (min-width: 1281px) {
    .formSize {
        display: flex;
        flex-direction: row;
        justify-content: center;
     }
    
    .input {
        width: 19rem;
        height: 2rem;
    }
    
    .inputBtn {
        width: 5rem;
        height: 2.5rem;
        color: wheat;
        background-color: blue;
        border-radius: 20%;
        margin-left: 6.5%;
    } 
    
}